{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Panier</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}

{% block content %}
    <h1>Panier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idpa</th>
                <td>{{ panier.idpa }}</td>
            </tr>
            <tr>
                <th>Quantitep</th>
                <td>{{ panier.quantitep }}</td>
            </tr>
            <tr>
                <th>Totalpa</th>
                <td>{{ panier.totalpa }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_panier_index') }}">back to list</a>

    <a href="{{ path('app_panier_edit', {'idpa': panier.idpa}) }}">edit</a>

    {{ include('panier/_delete_form.html.twig') }}
{% endblock %}
