{% extends 'baseBack.html.twig' %}

{% block title %}Tournoi index{% endblock %}

{% block sidebar %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
<ul class="nav">
<li class="nav-item ">
<a class="nav-link" href="../index.html">
  <i class="mdi mdi-grid-large menu-icon"></i>
  <span class="menu-title">Dashboard</span>
</a>
</li>

<li class="nav-item ">
<a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
  <i class="menu-icon mdi mdi-floor-plan"></i>
  <span class="menu-title">Activités</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-basic">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> <a class="nav-link" href="activite/back">Activité</a></li>
    <li class="nav-item"> <a class="nav-link" href="reservationactivite/">Réservations</a></li>
  </ul>
</div>
</li>

<li class="nav-item">
<a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
  <i class="menu-icon mdi mdi-card-text-outline"></i>
  <span class="menu-title">Buvette</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="form-elements">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"><a class="nav-link" href="../pages/forms/basic_elements.html">Produits</a></li>
    <li class="nav-item"> <a class="nav-link" href="../pages/ui-features/dropdowns.html">Ventes</a></li>
  </ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
  <i class="menu-icon mdi mdi-chart-line"></i>
  <span class="menu-title">Charts</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="charts">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> <a class="nav-link" href="../pages/charts/chartjs.html">ChartJs</a></li>
  </ul>
</div>
</li>
<li class="nav-item active">
<a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
  <i class="menu-icon mdi mdi-table"></i>
  <span class="menu-title">Tournois</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="tables">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> <a class="nav-link" href="{{ path('app_equipe_indexBack') }}">Equipes</a></li>
    <li class="nav-item active "> <a class="nav-link" href="{{ path('app_tournoi_indexBack') }}">Tournois</a></li>
  </ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
  <i class="menu-icon mdi mdi-layers-outline"></i>
  <span class="menu-title">Réclamations</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="icons">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> <a class="nav-link" href="../pages/icons/mdi.html">Réclamations</a></li>
    <li class="nav-item"> <a class="nav-link" href="../pages/icons/mdi.html">Réponses</a></li>
  </ul>
</div>
</li>

<li class="nav-item">
<a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
  <i class="menu-icon mdi mdi-account-circle-outline"></i>
  <span class="menu-title">Users</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="auth">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> <a class="nav-link" href="../pages/samples/login.html"> Liste Users</a></li>
    <li class="nav-item"> <a class="nav-link" href="../pages/samples/login.html"> Dossiers Médicaux</a></li>
  </ul>
</div>
</li>


</ul>
</nav>
{% endblock %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-6">
                <h4 class="card-title" style="color: rgb(7, 76, 141);">Liste des Tournois</h4>
              </div>
              <div class="col-md-6 text-end">
                <a href="{{ path('app_tournoi_new') }}" class="btn btn-primary">Créer un nouveau tournoi</a>
              </div>
            </div>
            <div class="row mb-3">
              
              <div class="col-md-6">
                <label for="search-input" class="form-label">Rechercher un tournoi :</label>
                <input type="text" id="search" placeholder="Recherche par nom" class="form-control">
              </div>
              <div class="col-md-6 ">
                <label for="tri" class="form-label">Trier les tournois :</label>
                <select id="tri" onchange="sortTournoi()" class="form-select">
                  <option value="">Choisir...</option>
                  <option value="{{ path('tournoi_display_sorted_by_date_asc') }}">Date croissante</option>
                  <option value="{{ path('tournoi_display_sorted_by_date_desc') }}">Date décroissante</option>
                  <option value="{{ path('tournoi_display_sorted_by_lieu_asc') }}">Lieu croissant</option>
                  <option value="{{ path('tournoi_display_sorted_by_lieu_desc') }}">Lieu décroissant</option>
                  <option value="{{ path('tournoi_display_sorted_by_statut_asc') }}">Statut croissant</option>
                  <option value="{{ path('tournoi_display_sorted_by_statut_desc') }}">Statut décroissant</option>
                </select>
              </div>
            </div>
           
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nom Tournoi</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col"> lieu</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="results">
                  {% for tournoi in tournois %}
                    <tr>
                      <td>{{ tournoi.nomt }}</td>
                      <td>{{ tournoi.datedebutt ? tournoi.datedebutt|date('d/m/Y') : '' }}</td>
                      <td>{{ tournoi.datefint ? tournoi.datefint|date('d/m/Y') : '' }}</td>
                      <td>{{ tournoi.descrit }}</td>
                      <td>
                        <span class="badge 
                        {% if tournoi.statutt == 'Terminé' %}
                          badge-danger
                        {% elseif tournoi.statutt == 'À venir' %}
                          badge-primary
                        {% else %}
                          badge-success
                        {% endif %}
                        ">
                          {{ tournoi.statutt }}
                        </span>
                      </td>
                      <td>
                        <div class="d-flex">
                          <a href="{{ path('app_tournoi_show', {'idt': tournoi.idt}) }}" class="btn btn-sm btn-outline-info btn-inverse-info me-1">
                            <i class="mdi mdi-eye"></i> Show
                          </a>
                          <a href="{{ path('app_tournoi_edit', {'idt': tournoi.idt}) }}" class="btn btn-sm btn-outline-warning btn-inverse-warning me-1">
                            <i class="mdi mdi-pencil"></i> Edit
                          </a>
                          <form method="post" action="{{ path('app_tournoi_delete', {'idt': tournoi.idt}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournoi.idt) }}">
                            <button type="submit" class="btn btn-sm btn-danger btn-inverse-danger" style="font-size: 13px;">
                              <i class="mdi mdi-delete"></i> Delete
                            </button>
                          </form>
                        </div>
                      </td>
                    </tr>
                  {% else %}
                    <tr>
                      <td colspan="6">Aucun tournoi trouvé</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="text-center mt-4">
              <a href="{{ path('app_tournoi_new') }}" class="btn btn-primary">Créer un nouveau tournoi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search').keyup(function() {
            var query = $(this).val();
            $.ajax({
                url: "{{ path('app_search') }}",
                type: "POST",
                data: {query: query},
                success: function(data) {
                    $('#results').html(data);
                    $('#results').css('width', '100%');
                    $('#results').css('position', 'static');
                }
            });
        });
    });
</script>
<script>
  function sortTournoi() {
    var select = document.getElementById("tri");
    var selectedOption = select.options[select.selectedIndex];
    window.location.href = selectedOption.value;
  }
</script>
{% endblock %}