{% extends 'baseBack.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <div style="height: 20px;"></div> 

            <h2 class="card-title">Détails du Tournoi</h2>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Nom du Tournoi</th>
                  <td>{{ tournoi.nomt }}</td>
                </tr>
                <tr>
                  <th>Date de début</th>
                  <td>{{ tournoi.datedebutt ? tournoi.datedebutt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                  <th>Date de fin</th>
                  <td>{{ tournoi.datefint ? tournoi.datefint|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td><a href="https://www.google.com/maps/search/?api=1&query={{ tournoi.descrit }}" target="_blank" style="text-decoration: none; color: black;">{{ tournoi.descrit }}</a>
                  </tr>
                <tr>
                  <th>Statut</th>
                  <td>{{ tournoi.statutt }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div style="height: 50px;"></div> 
        <div class="card">
          <div class="card-header">
            <div style="height: 20px;"></div> 

            <h2 class="card-title">Équipes Inscrites</h2>
          </div>
          <div class="card-body">
            <div class="row">
            
              {% for equipe in equipesInscrites %}
              <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ equipe.getNome }}</h5>
                        <form method="post" action="{{ path('app_equipe_deleteinscri', {'ide': equipe.ide}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.ide) }}">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
               {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
    <div style="height: 20px;"></div> 

    <a href="{{ path('app_tournoi_indexBack') }}" class="btn btn-inverse-warning">Retour à la liste</a>
  </div>
</div>


{% endblock %}