{% extends 'baseBack.html.twig' %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Confirm Deletion
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete the reclamation "{{ reclamation.name }}"?</p>

            {{ form_start(delete_form) }}
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.idrec) }}">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{{ path('reclamation_index') }}" class="btn btn-secondary">Cancel</a>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
