{% extends 'base.html.twig' %}

{% block title %}Inscritournoi index{% endblock %}

{% block content %}
    <h1>Inscritournoi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Equipe</th>
                <th>Tournoi</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscritournoi in inscritournois %}
            <tr>
                <td>{{ inscritournoi.Equipe.nome }}</td>
                <td>{{ inscritournoi.Tournoi.nomt }}</td>
                <td>
                    <a href="{{ path('app_inscritournoi_show', {'idit': inscritournoi.idit}) }}">show</a>
                    <a href="{{ path('app_inscritournoi_edit', {'idit': inscritournoi.idit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inscritournoi_new') }}">Create new</a>
{% endblock %}