{% extends 'base.html.twig' %}

{% block header %}
<div class="container-fluid bg-primary px-5 d-none d-lg-block">
            <div class="row gx-0">
                <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                        <a href="#"><small class="me-3 text-light"><i class="fa fa-user me-2"></i>Register</small></a>
                        <a href="#"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i> My Dashboard</small></a>
                            <div class="dropdown-menu rounded">
                                <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>GeSport</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="../base" class="nav-item nav-link ">Accueil</a>
                        <a href="about.html" class="nav-item nav-link">Compte</a>
                        <a href="activite" class="nav-item nav-link">Activité</a>
                        <a href="packages.html" class="nav-item nav-link">Buvette</a>
                        <a href="blog.html" class="nav-item nav-link">Tournoi</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="destination.html" class="dropdown-item">Destination</a>
                                <a href="tour.html" class="dropdown-item">Explore Tour</a>
                                <a href="booking.html" class="dropdown-item">Travel Booking</a>
                                <a href="gallery.html" class="dropdown-item">Our Gallery</a>
                                <a href="guides.html" class="dropdown-item">Travel Guides</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Reclamation</a>
                    </div>
                    <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a>
                </div>
            </nav>
{% endblock %}
{% block title %}New Reservationactivite{% endblock %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Réservez maintenant !</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}
{% block content %}

    <h1>Réserver une activité</h1>

    <div class="col-lg-8 col-xl-9">
<div class="row g-4">
                            <div class="col-lg-6">
    
           <!-- 
                <th>Ida</th>
                <td>{{ activite.ida }}</td>
             -->
            
               <!-- <th>Imagea</th>  -->
               <div class="border rounded">
                <img src="{{ asset('uploads/' ~ activite.imagea) }}" class="img-fluid rounded"  alt="{{ activite.noma }}">
            </div>
            </div>
            <div class="col-lg-6">
            <h4 class="fw-bold mb-3">{{ activite.noma }}</h4>
            
            <p class="mb-3">Type: {{ activite.typea }}</p>
            
            <h5 class="fw-bold mb-3">{{ activite.dispoa }}</h5>
                
            <p class="mb-4">{{ activite.descria }}</p>
            
            </div>
            
        </div>
</div>
    {% if activite.dispoa == 'Disponible' %}
    <div class="container-fluid booking py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <h5 class="section-booking-title pe-3">Réservation</h5>
                        <h1 class="text-white mb-4">Réservation en ligne</h1>
                        <p class="text-white mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime ullam esse fuga blanditiis accusantium pariatur quis sapiente, veniam doloribus praesentium? Repudiandae iste voluptatem fugiat doloribus quasi quo iure officia.
                        </p>
                        <a href="{{ path('app_reservationactivite_index') }}" class="btn btn-light text-primary rounded-pill py-3 px-5 mt-2">Mes Réservations</a>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="text-white mb-3">Réserver une activité</h1>
                        <p class="text-white mb-4">Choisissez <span class="text-warning">l'activité</span> qui vous correspond.</p>
                            {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                            {{ form_row(form.ida, { 'attr': { 'style': 'display: none;' } }) }}

                        <form>
                            <div class="row g-3">
                                
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        
                                        {{ form_widget(form.datedebutr, {'attr': {'class': 'form-control bg-white border-0'}}) }}
                                        <div class="text-danger">{{ form_errors(form.datedebutr) }}</div>
                                           
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        
                                        {{ form_widget(form.heurer, {'attr': {'class': 'form-select bg-white border-0'}}) }}
                                        <div class="text-danger">{{ form_errors(form.heurer) }}</div>
                                                
                                    </div>
                                </div>
                                
                                
                                <div class="col-12">
                                {{ form_row(form._token) }}
                                    <button class="btn btn-primary text-white w-100 py-3" type="submit">Réserver</button>
                                    {% if successMessage is defined %}
                                        <script>
                                            function readTextWithResponsiveVoice(text) {
                                                responsiveVoice.speak(text, "French Female", { volume: 1 });
                                            }
                                            readTextWithResponsiveVoice('{{ successMessage }}');
                                        </script>
                                        <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
                                    {% endif %}
                                    {{ form_end(form) }}
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        

        
{% endblock %}
