{% extends 'base.html.twig' %}

{% block title %}Reservationactivite{% endblock %}

{% block content %}
    <h1>Reservationactivite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idr</th>
                <td>{{ reservationactivite.idr }}</td>
            </tr>
            <tr>
                <th>Datedebutr</th>
                <td>{{ reservationactivite.datedebutr ? reservationactivite.datedebutr|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heurer</th>
                <td>{{ reservationactivite.heurer }}</td>
            </tr>
            <tr>
                <th>Statutr</th>
                <td>{{ reservationactivite.statutr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservationactivite_index') }}">back to list</a>

    <a href="{{ path('app_reservationactivite_edit', {'idr': reservationactivite.idr}) }}">edit</a>

    {{ include('reservationactivite/_delete_form.html.twig') }}
{% endblock %}
