{% extends 'baseBack.html.twig' %}

{% block title %}Gesport - Produit{% endblock %}

{% block content %}

    <div class="container" style="margin-left: 40px; margin-right: 100px;">
        <table class="table">
            <thead>
                <tr>   
                <br><br>             
                    <th>Réference</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.referencep }}</td>
                        <td>{{ produit.nomp }}</td>
                        <td>{{ produit.descrip }}</td>
                        <td>{{ produit.prixp }}</td>
                        
                        <td>
                            {{ include('produit/_delete_form.html.twig') }}
                        </td>
                        <td> 
                        <a href="{{ path('app_produit_edit', {'idp': produit.idp}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ path('app_produit_new') }}">Ajouter un produit</a>
        <br><br>
    </div>


{% endblock %}
