{% extends 'base.html.twig' %}

{% block title %}Gesport - Détail{% endblock %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Le Menu</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}

{% block content %}
<div style="margin-left: 200px; margin-right: 200px;">
    <br>
    <a href="{{ path('app_produit_index') }}">Retour</a>
    <br><br><br><br>

    <table class="table">
        <tbody>
            <tr>
                <td rowspan="3">
                    <img src="{{ asset('FrontOffice/' ~ produit.imagep) }}" class="img-fluid rounded"  alt="{{ produit.nomp }}">
                </td>
                <td><h3>#{{ produit.referencep }}</h3></td>
            </tr>
            <tr>
                <td><h1>{{ produit.nomp }}</h1></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th>Description : </th>
                            <td>{{ produit.descrip }}</td>
                        </tr>
                        <tr>
                            <th>Prix : </th>
                            <td>{{ produit.prixp }} dt</td>
                        </tr>
                        <tr>
                            <td> 
                                <div class="row g-3">   
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control border-0" id="quantite" placeholder="Quantité">
                                            <label for="quantite">Quantité..</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" onclick="addToCart(event, {{ produit.idp }})" type="button">Ajouter au panier</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <br><br><br><br>
</div>

<script>
function addToCart(event, productId) {
    event.preventDefault(); // Prevent the default form submission

    const quantite = document.getElementById('quantite').value; // Get quantite from input
    const prixp = parseFloat('{{ produit.prixp }}'); // Retrieve prixp from Twig variable

    const totalpa = quantite * prixp; // Calculate total price

    fetch(`http://127.0.0.1:8000/produit/ajouter-au-panier/${productId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `quantite=${quantite}&prixp=${totalpa}`, // Send quantite and totalpa in request body
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Produit ajouté au panier avec succès');
        } else {
            alert('Erreur lors de l\'ajout du produit au panier');
        }
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error.message);
    });
}

</script>
{% endblock %}
