{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block content %}
    <h1>Vente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idv</th>
                <td>{{ vente.idv }}</td>
            </tr>
            <tr>
                <th>Quantitév</th>
                <td>{{ vente.quantitév }}</td>
            </tr>
            <tr>
                <th>Datev</th>
                <td>{{ vente.datev ? vente.datev|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montantv</th>
                <td>{{ vente.montantv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vente_index') }}">back to list</a>

    <a href="{{ path('app_vente_edit', {'idv': vente.idv}) }}">edit</a>

    {{ include('vente/_delete_form.html.twig') }}
{% endblock %}
