{% extends 'baseBack.html.twig' %}

{% block title %}Edit Activite{% endblock %}
{% block sidebar %}
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../baseBack">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    
    <li class="nav-item active">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Activités</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="activite/back">Activité</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/ui-features/dropdowns.html">Réservations</a></li>
        </ul>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Buvette</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="../pages/forms/basic_elements.html">Produits</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/ui-features/dropdowns.html">Ventes</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/charts/chartjs.html">ChartJs</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tournois</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Equipes</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Tournois</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="menu-icon mdi mdi-layers-outline"></i>
        <span class="menu-title">Réclamations</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/icons/mdi.html">Réclamations</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/icons/mdi.html">Réponses</a></li>
        </ul>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">Users</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/samples/login.html"> Liste Users</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/samples/login.html"> Dossiers Médicaux</a></li>
        </ul>
      </div>
    </li>
    
    
  </ul>
</nav>
{% endblock %}
{% block content %}
<div class="content-wrapper">
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Formulaire de modification</h4>
                  <p class="card-description">
                    Modifier cette activité
                  </p>
                  {{ form_start(form, {'attr': {'class': 'form', 'enctype': 'multipart/form-data', novalidate:'novalidate'}}) }}
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputUsername1">Nom</label>
                      {{ form_widget(form.noma, {'attr': {'class': 'form-control'}}) }}
                      <div class="text-danger">{{ form_errors(form.noma) }}</div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Type</label>
                      {{ form_widget(form.typea, {'attr': {'class': 'form-control'}}) }}
                      <div class="text-danger">{{ form_errors(form.typea) }}</div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Disponibilité</label>
                      {{ form_widget(form.dispoa, {'attr': {'class': 'form-control'}}) }}
                      <div class="text-danger">{{ form_errors(form.dispoa) }}</div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1">Description</label>
                      {{ form_widget(form.descria, {'attr': {'class': 'form-control'}}) }}
                      <div class="text-danger">{{ form_errors(form.descria) }}</div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1">Image</label>
                      {{ form_widget(form.imagea, {'attr': {'class': 'form-control'}}) }}
                      <div class="text-danger">{{ form_errors(form.imagea) }}</div>
                    </div>
                    {{ form_row(form._token) }}
                    <button type="submit" class="btn btn-primary me-2">Modifier</button>
                    {{ form_end(form) }}
                    <a href="{{ path('app_activite_indexBack') }}" class="btn btn-light">La liste</a>
                  </form>
                </div>
              </div>
            </div>
            </div>
{% endblock %}
