{% extends 'base.html.twig' %}

{% block title %}Activite index{% endblock %}
{% block header %}
<div class="container-fluid bg-primary px-5 d-none d-lg-block">
            <div class="row gx-0">
                <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center" style="height: 45px;">
                        <a href="#"><small class="me-3 text-light"><i class="fa fa-user me-2"></i>Register</small></a>
                        <a href="#"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i> My Dashboard</small></a>
                            <div class="dropdown-menu rounded">
                                <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0"><i class=""></i>GeSport</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="../base" class="nav-item nav-link ">Accueil</a>
                        <a href="about.html" class="nav-item nav-link">Compte</a>
                        <a href="activite" class="nav-item nav-link active">Activité</a>
                        <a href="packages.html" class="nav-item nav-link">Buvette</a>
                        <a href="blog.html" class="nav-item nav-link">Tournoi</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="destination.html" class="dropdown-item">Destination</a>
                                <a href="tour.html" class="dropdown-item">Explore Tour</a>
                                <a href="booking.html" class="dropdown-item">Travel Booking</a>
                                <a href="gallery.html" class="dropdown-item">Our Gallery</a>
                                <a href="guides.html" class="dropdown-item">Travel Guides</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Reclamation</a>
                    </div>
                    <a href="../reservationactivite/" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Mes Réservations</a>
                </div>
            </nav>
{% endblock %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Nos Activités</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}
{% block content %}
   <h1>     </h1> 
    <div class="row">
        {% for activitefavoris in activitefavoriss %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="blog-item">
                     <div class="blog-img">
                        <div class="blog-img-inner">     
                            <img src="{{ asset('uploads/' ~ activitefavoris.activite.imagea) }}" class="img-fluid w-100 rounded-top" alt="{{ activitefavoris.activite.noma }}">
                            <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                         </div>
                    </div>   
                    <div class="card-body">
                        <h5 class="card-title">{{ activitefavoris.activite.noma }}</h5>
                        <p class="card-text">{{ activitefavoris.activite.descria }}</p>
                        <a href="{{ path('app_activite_show', {'ida': activitefavoris.activite.ida}) }}" class="btn btn-primary rounded-pill py-2 px-4">Voir</a>
                        {% if activitefavoris.activite.dispoa == 'Disponible' %}
                        <a href="{{ path('app_reservation_new_for_activity', {'activityId': activitefavoris.activite.ida}) }}" class="btn btn-primary rounded-pill py-2 px-4">Reserver</a>
                        {% endif %}
                    <!--    <a href="{{ path('app_reservationactivite_new', {'ida': activitefavoris.activite.ida}) }}" class="btn btn-primary rounded-pill py-2 px-4">Réserver</a>  -->
                    </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>No records found</p>
            </div>
        {% endfor %}
    </div>


    {# TRADUCTION #}
    <style>
        #google_translate_element {
            display: inline-block;
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: inset 0 0 0 0 var(--bs-primary);
            border: 1px solid #8B0000;
            border-radius: 4px;
            font-family: Arial, sans-serif;
        }

        #google_translate_element:hover {
            cursor: pointer;
            opacity: 0.9;
            box-shadow: inset 0 0 0 0 var(--bs-primary);
        }
        #google_translate_element {
            transition: opacity 0.3s ease-in-out;
        }

    </style>
    <div id="google_translate_element"></div>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    {# TRADUCTION #}
{% endblock %}