{% extends 'base.html.twig' %}

{% block title %}Activite index{% endblock %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Nos Activités</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}
{% block content %}
   <h1>     </h1> 
    <div class="row">
        {% for activitefavoris in activitefavoriss %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="blog-item">
                     <div class="blog-img">
                        <div class="blog-img-inner">     
                            <img src="{{ path('user_images' , {'imageName': activitefavoris.activite.imagea|url_encode}) }}" class="img-fluid w-100 rounded-top" alt="{{ activitefavoris.activite.noma }}">
                            <div class="blog-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                         </div>
                    </div>   
                    <div class="card-body">
                        <h5 class="card-title">{{ activitefavoris.activite.noma }}</h5>
                        <p class="card-text">{{ activitefavoris.activite.descria }}</p>
                        <a href="{{ path('app_activite_show', {'ida': activitefavoris.activite.ida}) }}" class="btn btn-primary rounded-pill py-2 px-4">Voir</a>
                        {% if activitefavoris.activite.dispoa == 'Disponible' %}
                        <a href="{{ path('app_reservation_new_for_activity', {'activityId': activitefavoris.activite.ida}) }}" class="btn btn-primary rounded-pill py-2 px-4">Reserver</a>
                        {% endif %}
                    <!--    <a href="{{ path('app_reservationactivite_new', {'ida': activitefavoris.activite.ida}) }}" class="btn btn-primary rounded-pill py-2 px-4">Réserver</a>  -->
                    </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>No records found</p>
            </div>
        {% endfor %}
    </div>


    {# TRADUCTION #}
    <style>
        #google_translate_element {
            display: inline-block;
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: inset 0 0 0 0 var(--bs-primary);
            border: 1px solid #8B0000;
            border-radius: 4px;
            font-family: Arial, sans-serif;
        }

        #google_translate_element:hover {
            cursor: pointer;
            opacity: 0.9;
            box-shadow: inset 0 0 0 0 var(--bs-primary);
        }
        #google_translate_element {
            transition: opacity 0.3s ease-in-out;
        }

    </style>
    <div id="google_translate_element"></div>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    {# TRADUCTION #}
{% endblock %}