{% extends 'baseBack.html.twig' %}

{% block title %}Activite index{% endblock %}
{% block sidebar %}
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../baseBack">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    
    <li class="nav-item active">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Activités</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="activite/back">Activité</a></li>
          <li class="nav-item"> <a class="nav-link" href="../reservationactivite/back">Réservations</a></li>
        </ul>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Buvette</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="../pages/forms/basic_elements.html">Produits</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/ui-features/dropdowns.html">Ventes</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/charts/chartjs.html">ChartJs</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tournois</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Equipes</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/tables/basic-table.html">Tournois</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="menu-icon mdi mdi-layers-outline"></i>
        <span class="menu-title">Réclamations</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/icons/mdi.html">Réclamations</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/icons/mdi.html">Réponses</a></li>
        </ul>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">Users</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/samples/login.html"> Liste Users</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/samples/login.html"> Dossiers Médicaux</a></li>
        </ul>
      </div>
    </li>
    
    
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="content-wrapper">
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
    <h4 class="card-title">Activités</h4>
    <a href="{{ path('app_activite_new') }}" class="btn btn-primary btn-rounded btn-fw">Ajouter Activité</a>
<div class="table-responsive">
<div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchInput" placeholder="Type here...">
                        </div>
                    </div>
 <div class="tri-dropdown" >
    <select onchange="handleChange(this)" class="btn btn-primary dropdown-toggle">
        <option value="">Trier par...</option>
        <option value="noma_asc">Nom Ascendant</option>
        <option value="noma_desc">Nom Descendant</option>
        <option value="dispoa_asc">Disponibilté Ascendant</option>
        <option value="dispoa_desc">Disponibilité Descendant</option>
        <option value="descria_asc">Description Ascendant</option>
        <option value="descria_desc">Description Descendant</option>
    </select>
</div>

                    <div id="searchResults"> 
<div id="tabv">
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Type</th>
                <th>Disponibilité</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td>{{ activite.noma }}</td>
                <td>{{ activite.typea }}</td>
                <td>
                    {% if activite.dispoa == 'Disponible' %}
                            <span class="badge badge-success">Disponible</span>
                     {% else %}
                            <span class="badge badge-danger">Non disponible</span>
                     {% endif %}
                </td>
                
                <td>{{ activite.descria }}</td>
                <td><img src="{{ asset('uploads/' ~ activite.imagea) }}" class="card-img-top" alt="{{ activite.noma }}"></td>
                <td>
                <div class="d-flex">
                    <a href="{{ path('app_activite_edit', {'ida': activite.ida}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    {{ include('activite/_delete_form.html.twig') }}
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var searchInput = document.getElementById('searchInput');
    var tabv = document.getElementById('tabv');
    var searchResults = document.getElementById('searchResults');
    var tableHead = tabv.querySelector('thead').outerHTML;

    searchInput.addEventListener('input', function() {
        var searchTerm = searchInput.value.trim().toLowerCase();
        var matchedReserv = [];

        // Sélectionnez toutes les lignes du tableau
        var rows = tabv.querySelectorAll('tbody tr');

        rows.forEach(function(row) {
            var activityName = row.querySelector('td:first-child').textContent.toLowerCase();
            var userName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();

            if (activityName.includes(searchTerm) || userName.includes(searchTerm)) {
                matchedReserv.push(row.outerHTML);
            }
        });

        // Affichez les résultats de la recherche avec la classe de table appropriée
        if (matchedReserv.length > 0) {
            searchResults.innerHTML = '<table class="table table-striped">' + tableHead + '<tbody>' + matchedReserv.join('') + '</tbody></table>';
        } else {
            // Supprimez le contenu de la zone d'affichage des résultats s'il n'y a aucun résultat trouvé
            searchResults.innerHTML = '';
        }
    });
});

</script>

<script>
function handleChange(select) {
    var selectedOption = select.value;
    if (selectedOption !== "") {
        var tri = "";
        var order = "";

        switch (selectedOption) {
            case "noma_asc":
                tri = "noma";
                order = "asc";
                break;
            case "noma_desc":
                tri = "noma";
                order = "desc";
                break;
            case "dispoa_asc":
                tri = "dispoa";
                order = "asc";
                break;
            case "dispoa_desc":
                tri = "dispoa";
                order = "desc";
                break;
            case "descria_asc":
                tri = "descria";
                order = "asc";
                break;
            case "descria_desc":
                tri = "descria";
                order = "desc";
                break;
            default:
                break;
        }

        // Redirection vers la route avec les paramètres de tri
        window.location.href = "{{ path('app_activite_indexBack') }}" + "?tri=" + tri + "&order=" + order;
    }
}
</script>

{% endblock %}