{% extends 'baseBack.html.twig' %}

{% block title %}Activite index{% endblock %}


{% block content %}
<div class="content-wrapper">
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
    <h4 class="card-title">Activités</h4>
    <a href="{{ path('app_activite_new') }}" class="btn btn-primary btn-rounded btn-fw">Ajouter Activité</a>
<div class="table-responsive">
<div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchInput" placeholder="Type here...">
                        </div>
                    </div>
 <div class="tri-dropdown" >
    <select onchange="handleChange(this)" class="btn btn-primary dropdown-toggle">
        <option value="">Trier par...</option>
        <option value="noma_asc">Nom Ascendant</option>
        <option value="noma_desc">Nom Descendant</option>
        <option value="dispoa_asc">Disponibilté Ascendant</option>
        <option value="dispoa_desc">Disponibilité Descendant</option>
        <option value="descria_asc">Description Ascendant</option>
        <option value="descria_desc">Description Descendant</option>
    </select>
</div>

                    <div id="searchResults"> 
<div id="tabv">
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Type</th>
                <th>Disponibilité</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td>{{ activite.noma }}</td>
                <td>{{ activite.typea }}</td>
                <td>
                    {% if activite.dispoa == 'Disponible' %}
                            <span class="badge badge-success">Disponible</span>
                     {% else %}
                            <span class="badge badge-danger">Non disponible</span>
                     {% endif %}
                </td>
                
                <td>{{ activite.descria }}</td>
                <td><img src="{{ path('user_images' , {'imageName': activite.imagea|url_encode}) }}" class="card-img-top" alt="{{ activite.noma }}"></td>
                <td>
                <div class="d-flex">
                    <a href="{{ path('app_activite_edit', {'ida': activite.ida}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    {{ include('activite/_delete_form.html.twig') }}
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var searchInput = document.getElementById('searchInput');
    var tabv = document.getElementById('tabv');
    var searchResults = document.getElementById('searchResults');
    var tableHead = tabv.querySelector('thead').outerHTML;

    searchInput.addEventListener('input', function() {
        var searchTerm = searchInput.value.trim().toLowerCase();
        var matchedReserv = [];

        // Sélectionnez toutes les lignes du tableau
        var rows = tabv.querySelectorAll('tbody tr');

        rows.forEach(function(row) {
            var activityName = row.querySelector('td:first-child').textContent.toLowerCase();
            var userName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();

            if (activityName.includes(searchTerm) || userName.includes(searchTerm)) {
                matchedReserv.push(row.outerHTML);
            }
        });

        // Affichez les résultats de la recherche avec la classe de table appropriée
        if (matchedReserv.length > 0) {
            searchResults.innerHTML = '<table class="table table-striped">' + tableHead + '<tbody>' + matchedReserv.join('') + '</tbody></table>';
        } else {
            // Supprimez le contenu de la zone d'affichage des résultats s'il n'y a aucun résultat trouvé
            searchResults.innerHTML = '';
        }
    });
});

</script>

<script>
function handleChange(select) {
    var selectedOption = select.value;
    if (selectedOption !== "") {
        var tri = "";
        var order = "";

        switch (selectedOption) {
            case "noma_asc":
                tri = "noma";
                order = "asc";
                break;
            case "noma_desc":
                tri = "noma";
                order = "desc";
                break;
            case "dispoa_asc":
                tri = "dispoa";
                order = "asc";
                break;
            case "dispoa_desc":
                tri = "dispoa";
                order = "desc";
                break;
            case "descria_asc":
                tri = "descria";
                order = "asc";
                break;
            case "descria_desc":
                tri = "descria";
                order = "desc";
                break;
            default:
                break;
        }

        // Redirection vers la route avec les paramètres de tri
        window.location.href = "{{ path('app_activite_indexBack') }}" + "?tri=" + tri + "&order=" + order;
    }
}
</script>

{% endblock %}