{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Equipes</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Card pour afficher les détails de l'équipe -->
            <div class="card mb-4">
                <div class="card-body text-center d-flex align-items-center justify-content-center">
                    <h1 class="mb-4">Equipe</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Equipe</th>
                                <td>{{ equipe.nome }}</td>
                            </tr>
                            <tr>
                                <th>Tournoi</th>
                                <td>{{ equipe.tournoi.nomt }}</td>
                            </tr>
                            <tr>
                                <th>Capitaine</th>
                                <td>{{ equipe.user.nomu }}</td>
                            </tr>
                            <tr>
                                <th>Statut</th>
                                <td>{{ equipe.statute }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                    <a href="{{ path('app_equipe_edit', {'ide': equipe.ide}) }}" class="btn btn-primary">Modifier</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Card pour ajouter un nouveau joueur -->
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h2 class="mb-4">Ajouter un nouveau joueur</h2>
                    {{ include('joueur/_form.html.twig') }}
                </div>
            </div>
            <!-- Liste des joueurs -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Liste des Joueurs</h2>
                    {% if joueurs is empty %}
                        <p>Aucun joueur trouvé dans cette équipe.</p>
                    {% else %}
                        <ul class="list-group">
                            {% for joueur in joueurs %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ joueur.joueur }}
                                    <form method="post" action="{{ path('app_joueur_delete', {'idj': joueur.idj}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="d-inline">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.idj) }}">
                                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                    </form>                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<!-- Icon Font Stylesheet -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->

<link href="{{ asset('./FrontOffice/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ asset('./FrontOffice/lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">


<!-- Customized Bootstrap Stylesheet -->
<link href="{{ asset('./FrontOffice/css/bootstrap.min.css') }}" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="{{ asset('./FrontOffice/css/style.css')}}" rel="stylesheet">
    <!-- Load Flashy default CSS -->
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
{% endblock %}

{% block js%}
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ asset('./FrontOffice/lib/easing/easing.min.js')}}"></script>
        <script src="{{ asset('./FrontOffice/lib/waypoints/waypoints.min.js')}}"></script>
        <script src="{{ asset('./FrontOffice/lib/owlcarousel/owl.carousel.min.js')}}"></script>
        <script src="{{ asset('./FrontOffice/lib/lightbox/js/lightbox.min.js')}}"></script>

         <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>

        <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        

        <!-- Template Javascript -->
        <script src="{{ asset('./FrontOffice/js/main.js')}}"></script>
         <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
        {% endblock %}
       