{% if user %}
    <p>User email: {{ user.emailu }}</p>
    <p>User role: {{ user.roleu }}</p>
    {# Vous pouvez ajouter d'autres informations de l'utilisateur ici #}

    {# Formulaire de modification des informations de l'utilisateur #}
    <h2>Modifier les informations du compte</h2>
    {{ form_start(form) }}
    {{ form_row(form.emailu) }}
    {{ form_row(form.roleu) }} {# Si vous souhaitez modifier le rôle de l'utilisateur #}
    {# Ajoutez d'autres champs selon vos besoins #}
    <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}

    {# Formulaire de suppression du compte utilisateur #}
   <h2>Supprimer le compte</h2>
<form action="{{ path('delete_account', { 'idu': user.idu }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.idu) }}">
    <button type="submit">Supprimer mon compte</button>
</form>


{% else %}
    <p>User not logged in.</p>
{% endif %}
