{% extends 'base.html.twig' %}

{% block content %}
<div id="main">
    <!-- Afficher les messages flash -->
    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    {% for flash_message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}

    <!-- Afficher l'e-mail extrait du token -->
    <!-- Post -->
    <section class="post">
        <header class="major">
            <span class="date">April 25, 2023</span>
            <h1 style="color: #007bff;text-align:center">Entrez votre nouveau mot de passe</h1>
        </header>
        <form method="post" style=" padding: 20px;">
            {{ form_start(form) }}
            <div class="row gtr-uniform">
                <div  style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; background-color: #f9f9f9;">
                    {{ form_label(form.password, null, {'label_attr': {'style': 'color: black;' }}) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'style': 'color: blue;' }}) }}
                    </br>
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary', 'style': 'background-color: green;' }}) }}
                    <input type="hidden" name="token" value="{{ token }}">
                
                </div>
            </div>
            {{ form_end(form) }}
        </form>
    </section>
</div>
{% endblock %}
